#exported files for the end user
exported/**/*
#java specific
*.class
com.softberries.klerk/bin/**/*
#remove folder created for headless build
com.softberries.klerk.build.script/buildDirectory/**/*
*.zip


