<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.softberries.klerk.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.softberries.klerk.gui.perspectives.MainPerspective"
            id="com.softberries.klerk.gui.perspectives.MainPerspective"
            name="Main">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.softberries.klerk.application"
            name="Klerk">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="Klerk">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.softberries.klerk.commands.ExitHandler"
            id="com.softberries.klerk.commands.exit"
            name="%command.name">
      </command>
      <command
            defaultHandler="com.softberries.klerk.commands.OpenInvoicesCommand"
            id="com.softberries.klerk.commands.opendocuments_invoices"
            name="Invoices">
      </command>
      <command
            defaultHandler="com.softberries.klerk.commands.OpenProductsCommand"
            id="com.softberries.klerk.commands.openinventory_products"
            name="Products">
      </command>
      <command
            defaultHandler="com.softberries.klerk.commands.AddProductCommand"
            id="com.softberries.klerk.commands.AddProductHandler"
            name="Add Product">
      </command>
      <command
            defaultHandler="com.softberries.klerk.commands.OpenPeopleCommand"
            id="com.softberries.klerk.commands.openadministration_people"
            name="Open People Editor">
      </command>
      <command
            defaultHandler="com.softberries.klerk.commands.OpenCompaniesCommand"
            id="com.softberries.klerk.commands.openinventory_companies"
            name="Open Companies Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="%menu.label.file">
            <command
                  commandId="com.softberries.klerk.commands.exit"
                  label="%command.label.exit"
                  style="push"
                  tooltip="%command.tooltip.exit">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  id="settings"
                  label="%command.label.preferences"
                  style="push"
                  tooltip="%command.tooltip.0">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.softberries.klerk.preferences.DatabasePreferencePage"
            id="com.softberries.klerk.preferences.database"
            name="%page.name.general">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.softberries.klerk.gui.views.CategoriesView"
            id="com.softberries.klerk.gui.views.CategoriesView"
            name="Categories">
      </view>
      <view
            class="com.softberries.klerk.gui.views.DocumentDetailsView"
            icon="icons/png/documents.png"
            id="com.softberries.klerk.gui.views.DocumentDetailsView"
            name="Document Details">
      </view>
      <view
            class="com.softberries.klerk.gui.views.ProductDetailsView"
            icon="icons/png/product.png"
            id="com.softberries.klerk.gui.views.ProductDetailsView"
            name="Product Details"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.softberries.klerk.gui.editors.DocumentsEditor"
            icon="icons/png/documents.png"
            id="com.softberries.klerk.gui.editors.DocumentsEditor"
            name="Document Editor">
      </editor>
      <editor
            class="com.softberries.klerk.gui.editors.SingleDocumentEditor"
            default="false"
            icon="icons/png/invoices.png"
            id="com.softberries.klerk.gui.editors.SingleDocument"
            name="Single Document">
      </editor>
      <editor
            class="com.softberries.klerk.gui.editors.ProductsEditor"
            icon="icons/png/products.png"
            id="com.softberries.klerk.gui.editors.ProductsEditor"
            name="Products">
      </editor>
      <editor
            class="com.softberries.klerk.gui.editors.SingleProductEditor"
            default="false"
            icon="icons/png/products.png"
            id="com.softberries.klerk.gui.editors.SingleProduct"
            name="Single Product">
      </editor>
      <editor
            class="com.softberries.klerk.gui.editors.CompaniesEditor"
            default="false"
            icon="icons/png/companies.png"
            id="com.softberries.klerk.gui.editors.CompaniesEditor"
            name="Companies Editor">
      </editor>
      <editor
            class="com.softberries.klerk.gui.editors.PeopleEditor"
            default="false"
            icon="icons/png/people.png"
            id="com.softberries.klerk.gui.editors.PeopleEditor"
            name="People Editor">
      </editor>
      <editor
            class="com.softberries.klerk.gui.editors.SinglePersonEditor"
            default="false"
            icon="icons/png/person.png"
            id="com.softberries.klerk.gui.editors.SinglePersonEditor"
            name="Single Person Editor">
      </editor>
      <editor
            class="com.softberries.klerk.gui.editors.SingleCompanyEditor"
            default="false"
            icon="icons/png/companies.png"
            id="com.softberries.klerk.gui.editors.SingleCompanyEditor"
            name="Single Company Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.propertiesView">
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.softberries.klerk.gui.properties.DocumentPropertiesPage"
            icon="icons/document_library.png"
            id="com.softberries.klerk.properties.DocumentProperties"
            name="Document Properties"
            objectClass="com.softberries.klerk.dao.to.Product">
      </page>
   </extension>

</plugin>
